@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
}

body {
    font-family: "Inter", sans-serif;
}
.dark {
    background-color: #000;
}

.light {
    background-color: #fff;;
}

